.bag{
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.list{
    width: 100%;
    padding-right: 2%;
}

.ant-row{
    row-gap: 1rem;
    justify-content: flex-start;
}

.card{
    width: 95%;
    height: auto;
    box-shadow: 3px 3px 10px 2px rgb(184, 184, 184);
}

.info{
    margin: 0px !important;
    font-size: 1.2rem !important;
}
