.header, .footer{
    height: 50vh;
}
nav{
    background-color: var(--bg);
    position: fixed;
    z-index: 100;
    width: 100%;
}
body{
    background-color: var(--bg);
    background-image: linear-gradient(to right, rgb(0, 183, 255, 0.1), rgba(111, 0, 255, 0.1));
}
section{
    padding: 2rem 2rem;
    margin-bottom: 3rem;
}
.header{
    background-image: url('/shop.png');
    background-origin: border-box;
    background-color: rgb(36, 35, 37);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 40%;
    @media screen and (min-width: 750px) {
        background-size: auto 70%;
        padding: 4rem;
    }
}
header{
    margin-top: 2rem;
}

.main{
    height: auto;
    text-align: center;
    color: #616161;
}


.touch{
    background-color: rgb(36, 35, 37);
    height: 30vh;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading{
        color: #3bb58c;
        margin: 0px;
    }
    .content{
        color: white;
        font-size: 0.5rem;
    }
}
.footer{
    height: auto;
}

.slider{
    border: none !important;
    border-radius: 1rem 1rem;
}
.slider-container{
    height: 200px;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
    color: rgb(53, 51, 51);
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;

    h4{
        font-size: large;
    }
    
}

.carousel-container{
    border-radius: 1rem 1rem;
    overflow: hidden;
}

.ant-carousel .slick-dots li button{
    background-color: #353535;
}
.ant-carousel .slick-dots li.slick-active button{
    background-color: #3bb58c;
}