:root{
    --bg: #ebebf5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0px;
}

.ant-menu-title-content{
    display: flex !important;
}

.navigation{
    margin-top: 5px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    @media screen and (min-width: 800px) {
        justify-content: flex-start;
    }
}

